.header2{
    padding: 21px 0;
}
.header2-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header2-form{
    display: flex;
    background: #F2F2F2;
    border-radius: 8px;
    justify-content: space-between;
}
.header2-form select{
    font-weight: 550;
    font-size: 16px;
    line-height: 130%;
    color: #191919;
    width: 213px;
    height: 54px;
    background: #F2F2F2;
    padding: 0 15px;
    border-radius: 8px 0px 0px 8px;
}
.header2-search-box{
    width: 548px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 0px 8px 8px 0px;
}
.header2-search-box input{
    width: 100%;
    height: 100%;
    padding: 16px 0 16px 16px;
    font-weight: 550;
    font-size: 16px;
    line-height: 130%;
    color: #8D989D;
    opacity: 0.6;
    background: transparent;
    /* padding-right: 250px; */
    border: none;
}
.header2-search-box button{
    border: none;
    background: transparent;
}
.header2-icons{
    display: flex;
}
img{
    width: 100%;
    height: 100%;
}
.karzinka-btn{
    background: #F2F2F2;
    border-radius: 8px;
    padding: 15px;
    width: 54px;
    height: 54px;
}
.header2-contact-icons{
    display: flex;
    align-items: center;
    background: #F2F2F2;
    border-radius: 8px;
    padding: 15px;
    height: 54px;
    margin-left: 10px;
}
.header2-contact-icons p{
    margin: 0;
    padding: 0 30px 0 13px;
}

.header3-header{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
    align-items: center;
}
.header3-a1{
    font-weight: 550;
    font-size: 16px;
    text-align: center;
    color: #191919;
    text-decoration: none;
    padding: 22px 50px;
    transition: all .5s ease;
}
.header3-a1:hover{
    background: #3456AF;
    color: #FFFFFF;
}
.header3-box{
    display: flex;
}
.header3 .select{
    padding: 15px 30px;
    background: #fff;
    cursor: pointer;
    position: relative;
    transition: all .5s ease;
}
.header3 .select:hover{
    background: #3456AF;
}
.header3 .select .a1{
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #191919;
    display: block;
    transition: all .5s ease;
}
.header3 .select:hover .a1{
    color: #fff;
}
.header3 .select p{
    font-weight: 550;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #8D989D;
}
.header3 .select:hover p{
    color: #ddd;
}
.iconN{
    position: absolute;
    top: 20%;
    right: 0;
    padding:  10px;
    color: #3456AF;
    transform: rotate(90deg);
    text-decoration: none;
}
.header3 .select:hover .iconN{
    color: #fff;
}
.header3 .option2{
    position: absolute;
    bottom: -170%;
    left: 0;
    width: 100%;
    background: #3493afa1;
    padding: 15px 30px;
    opacity: 0;
    transform: translateY(-200%);
    transition: .5s;
    z-index: -1;
}
.header3 .option2 .a2{
    display: block;
    text-decoration: none;
    color: #191919;
    font-size: 16px;
}
.fon{
    opacity: 1 !important;
    transform: translateY(0%) !important;
    z-index: 100 !important;
}


.baner{
    padding: 24px 0 62px 0;
}
.baner-container{
    background-image: url(./img/Rectangle\ 2228.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.baner-container .baner-title{
    padding: 60px 550px 108px 89px;
}
.baner-title h1{
    font-weight: 700;   
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}
.baner-title p{
    font-weight: 550;
    font-size: 16px;    
    line-height: 150%;
    color: #FFFFFF;
    padding-top: 16px;
}
img{
    width: 100%;
    height: 100%;
}
.baner-footer-container{
    display: flex;
    gap: 8px;
    padding-bottom: 24px;
    flex-wrap: wrap;
}
.baner-footer-container .box{
    display: flex;
    align-items: center;
    flex: 1 1 16rem;
}
.baner-footer-container .box .img-box{
    width: 66px;
    height: 66px;
    background: #F2F2F2;
    border-radius: 50%;
}
.baner-footer-container .box p{
    font-weight: 550;
    font-size: 16px;
    line-height: 130%;
    color: #191919;
    padding-left: 8px;
}

.hover-container{
    padding: 60px 0;
    
}
.hover-container .title h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #191919;
    padding-bottom: 24px;
}
.hover-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hover-row .box{
    background: #FAFAFA;
    border-radius: 16px;
    padding: 16px 16px 60px 15px;
    cursor: pointer;
    transition: all .5s ease;
}
.hover-row .box h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #191919;
}
.hover-row .box p{
    font-weight: 550;
    font-size: 14px;
    line-height: 150%;
    color: #8D989D;
    padding: 4px 0 12px 0;
}
.hover-row .img-box{
    width: 315px;
}

.actev{
    border: 2px solid #3456AF;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.text-bottom1,
.text-bottom2,
.text-bottom3{
    padding-top: 32px;
    display: none;
    transition: all .5s ease;
}
.rang{
    display: block;
}
.text-bottom1 h4,
.text-bottom2 h4,
.text-bottom3 h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    padding-bottom: 19px;
    padding-left: 16px;
}
.text-bottom1 .box,
.text-bottom2 .box,
.text-bottom3 .box{
    display: flex;
}
.text-bottom1 ul,
.text-bottom2 ul,
.text-bottom3 ul{
    list-style: none;
    padding-left: 0;
}
.text-bottom1 .ul-1,
.text-bottom2 .ul-1,
.text-bottom3 .ul-1{
    padding-right: 80px;
}
.text-bottom1 li,
.text-bottom2 li,
.text-bottom3 li{
    margin-bottom: 27px;
    padding: 10px 10px 10px 15px;
    border-radius: 8px;
    font-weight: 550;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    opacity: 0.5;
    cursor: pointer;
    transition: all .5s ease;
}
.text-bottom1 li:hover,
.text-bottom2 li:hover,
.text-bottom3 li:hover{
    background: #F2F2F2;
    font-weight: 550;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    opacity: 1;
}

.slider{
    padding: 60px 0;
}
.slider .title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 106px;
}
.slider .title h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #191919;
}
.slider .title a{
    font-weight: 550;
    font-size: 14px;
    line-height: 130%;
    color: #3456AF;
    background: #F7F8FA;
    border-radius: 12px;
    padding: 10px 25px;
    text-decoration: none;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.slider-container{
    position: relative;
    width: 250px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.slider-container span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
.slider-container span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-container{
    padding: 60px 0;
}
.cards-container .title{
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
}
.cards-container .title h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #191919;
}
.cards-container .title a{
    font-weight: 550;
    font-size: 14px;
    line-height: 130%;
    color: #3456AF;
    text-decoration: none;
    background: #F7F8FA;
    border-radius: 12px;
    padding: 10px 16px;
}
.cards-container .cards-row{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

}
.cards-container .cards-row .cart{
    background: #F2F2F2;
    border-radius: 16px;
    padding: 24px 24px 24px 24px;
    display: flex;
    flex: 1 1 25rem;
}
.cart1{
    margin: 0 30px;
}
.cards-container .cards-row .cart .left{
    margin-right: 32px;
}
.cards-container .cards-row .cart .son{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FC3B3E;
}
.cards-container .cards-row .cart span{
    font-weight: 550;
    font-size: 12px;
    line-height: 130%;
    color: #FC3B3E;
}
.cards-container .cards-row .cart h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #191919;
}
.cards-container .cards-row .cart p{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #191919;
    opacity: 0.7;
}

.text-container{
    padding-bottom: 60px;
}
.text-container .title h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
    padding-bottom: 32px;
}
.text-container ul{
    padding-left: 1rem;
}
.text-container ol{
    margin: 0;
    padding-left: 1rem;
}
.text-container .text-p1{
    padding: 0;
    margin: 0;
}

footer{
    background: #F2F2F2;
    padding: 52px 0;
}
.footer-top{
    padding-bottom: 88px;
    justify-content: space-between;
    align-items: center;
}
.footer-top .left h4{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
}
.footer-top .left .p1{
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 550;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
    opacity: 0.7;
    padding-right: 350px;
}
.footer-top .left form{
    display: flex;
    width: 100%;
}
.footer-top .left input{
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 12px 260px 12px 16px;
    margin-right: 8px;
}
.footer-top .left input[type="email"]{
    font-weight: 550;
    font-size: 16px;
    line-height: 130%;
    color: #8D989D;
}
.footer-top .left button{
    padding: 12px 34px;
    display: block;
    border: none;
    font-weight: 550;
    font-size: 16px;
    line-height: 130%;
    color: #F2F2F2;
    background: #3456AF;
    border-radius: 8px;
}
.footer-top .left .p2{
    font-weight: 550;
    font-size: 12px;
    line-height: 130%;
    color: #8D989D;
    padding-top: 8px;
    opacity: 0.7;
}

.footer-bottom .box1{
    display: flex;
}
.footer-bottom .h4-1{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    padding-bottom: 18px;
}
.footer-bottom .box1 .ul-1{
    padding-right: 40px;
}
.footer-bottom li{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
    padding-bottom: 16px;
}
.footer-bottom .box2{
    display: flex;
}
.footer-bottom .box2 .ul-1{
    padding-right: 80px;
}
.footer-bottom ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-bottom .h4-2{
    font-weight: 550;
    font-size: 18px;
    line-height: 130%;
    color: #191919;
}
.footer-bottom .son{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #3456AF;
    padding-top: 8px;
}
.footer-bottom .son span{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #191919;
    opacity: 0.5;
}
.footer-bottom p{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #191919;
    padding-top: 16px;
    padding-bottom: 24px;
}
.footer-bottom .footer-bottom-icons a{
    font-size: 24px;
    margin-right: 24px;
    color: #191919;
    text-decoration: none;
}


@media(max-width: 1294px){
    .footer-top .left input {
        padding: 12px 200px 12px 16px;
    }
}
@media(max-width: 1249px){
    .header3-a1 {
        padding: 20px 45px;
    }
}

@media(max-width: 1200px){
    .header2-form{
        display: none;
    }
    .header3-a1 {
        padding: 20px 24px;
    }
    .baner-container .baner-title {
        padding: 60px 350px 108px 89px;
    }
    .footer-top{
        text-align: center;
    }
    .footer-top .left .p1 {
        padding-right: 0px;
    }
    .footer-top .left form {
        justify-content: center;
    }

}
@media(max-width: 992px){
    .header3-a1 {
        padding: 20px 15px;
        /* font-size: 12px; */
    }
    .baner-container .baner-title {
        padding: 60px 204px 55px 40px;
    }
    .baner-title h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .text-bottom1 .ul-1, 
    .text-bottom2 .ul-1, 
    .text-bottom3 .ul-1 {
        padding-right: 15px;
    }
    .text-bottom1 li, 
    .text-bottom2 li, 
    .text-bottom3 li {
        padding: 5px;
    }
}
@media(max-width: 767px){
    .header3-a1 {
        padding: 20px 15px;
        /* font-size: 12; */
    }
    .baner-container .baner-title {
        padding: 60px 150px 55px 40px;
    }
    .baner-title h1 {
        font-size: 30px;
        line-height: 35px;
    }
}
@media(max-width: 576px){
    .baner-container .baner-title {
        padding: 40px 50px 30px 30px;
    }
    .baner-title h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .baner-title p {
        font-size: 15px;
        line-height: 20px;
        padding-top: 0px;
    }
}